/* mobile: "320px",
  tablet: "768px",
  laptop: "1024px",
  desktop: "2560px", */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-bg-color: #fff;
  --secondary-bg-color: #4a8ef3;
  --main-color: #000;
  --secondary-color: #fff;
  --btn-color: #4a8ef3;
  --body-bg-color: #f0f0f0;

  /* Screen Resolution */
  --mobile: 320px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 2560px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  max-width: 100vw;
}

@media only screen and (max-width: 2560px) {
  :root {
    font-size: 12.5px;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    font-size: 10px;
  }
}
